h1, h2 {
  color: rgb(11, 12, 12);
}
nav {
  border-bottom: black dotted; 
  padding-bottom: 10px; 
}

img {
  margin-top: 10px;
}
body {
  background-color: rgb(223, 231, 219);
}

#pageTitle {
  color: rgb(0, 255, 98);
}

html {
  font: 15px georgia;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(205, 221, 187);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(161, 158, 158);
}

li a:hover:not(.active) {
  background-color: #307672;
}

.active {
  background-color: #307672;
}

.main-content {
  margin-left: 10%;
  margin-right: 10%;
  font-family: lato;
}
.articles {
  margin-left: 10%;
  margin-right: 50%;
  font-family: lato;
}

.card {

  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 150px;                 /* Set width of cards */
  border: 1px solid rgb(192, 192, 192);    /* Set up Border */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */

}
.card {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.card-header {

}